body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #418ad3;
    color: white;
    padding: 1rem 0;

}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.navigation li {
    flex: 1;
    text-align: center;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

.navigation a:hover {
    background: rgb(214, 116, 116);
}

.parent {
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr auto;
}

.child1,
.child2 {
    padding: 2rem;
    height: 100%;
}

.child1 {
    background: #bbdefb;
}

.child2 {
    background: gray;
}

footer {
    background: #091f36;
    color: white;
    text-align: center;
    padding: 1.5rem;
}