 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #245e97;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header span {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 0.5rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 1200px;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #222;
    list-style: none;
    padding: 0.5rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ffcc00;
    color: #003366;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #003366;
    background-color: gray;
    margin-bottom: 0;
    padding: 1.5rem 0;
    display: block;
    text-align: center;
    border-radius: 10px;
}

#profile {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;     
}

#country-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

img {
    max-width: 30%;
    height: auto;
}

#course-info ul {
    list-style: square;
    padding-left: 1.2rem;
    margin-top: 5rem;
}

#course-info li {
    margin-bottom: 0.5rem;
}

#course-info li a {
    text-decoration: none;
    color: #003366;
}

#course-info li a:hover {
    text-decoration: underline;
    color: orange;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
}

#last-updated {
    font-weight: bold;
    color: #ffcc00;
}
