@media (min-width: 768px) {
    .header-top {
        flex-wrap: wrap;
    }
    
    #menu-toggle {
        display: none;
    }
    
    #nav-menu {
        display: block;
        position: static;
        background: transparent;
        box-shadow: none;
    }
    
    #nav-menu ul {
        flex-direction: row;
        justify-content: center;
        padding: 0.5rem 0;
    }
    
    #nav-menu li {
        margin: 0 1rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    .container {
        padding: 40px;
    }
    
    .radio-group, .checkbox-group {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .radio-group label, .checkbox-group label {
        flex: 1 0 45%;
        margin-right: 10px;
    }
}
