body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header,
main,
footer {
    max-width: 640px;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid #bbb;
    background-color: skyblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px blue;
}